@font-face {
  font-family: 'Futura Book';
  src:
  url('../fonts/future/FuturaBookC.woff') format('woff'),
  url('../fonts/future/FuturaBookC.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: wrap;
  }
@font-face {
  font-family: 'Futura Demi';
  src:
  url('../fonts/future/FuturaDemiC.woff') format('woff'),
  url('../fonts/future/FuturaDemiC.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: wrap;
  }
  